<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2020-2023
 Modelling for Continuous Software Engineering (MCSE) group, Institute of Information Security and Dependability (KASTEL), Karlsruhe Institute of Technology (KIT).
 
 Copyright (c) 2006-2014
 Software Technology Group, Dresden University of Technology
 DevBoost GmbH, Berlin, Amtsgericht Charlottenburg, HRB 140026
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Software Technology Group - TU Dresden, Germany;
   DevBoost GmbH - Berlin, Germany
      - initial API and implementation
   Martin Armbruster (MCSE, KASTEL, KIT)
      - Adaptation and extension for Java 7+
  
-->

<plugin>

	<extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java"
            class="tools.mdsd.jamopp.model.java.JavaPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/annotations"
            class="tools.mdsd.jamopp.model.java.annotations.AnnotationsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/arrays"
            class="tools.mdsd.jamopp.model.java.arrays.ArraysPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/classifiers"
            class="tools.mdsd.jamopp.model.java.classifiers.ClassifiersPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/commons"
            class="tools.mdsd.jamopp.model.java.commons.CommonsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/containers"
            class="tools.mdsd.jamopp.model.java.containers.ContainersPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/expressions"
            class="tools.mdsd.jamopp.model.java.expressions.ExpressionsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/generics"
            class="tools.mdsd.jamopp.model.java.generics.GenericsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/imports"
            class="tools.mdsd.jamopp.model.java.imports.ImportsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/instantiations"
            class="tools.mdsd.jamopp.model.java.instantiations.InstantiationsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/literals"
            class="tools.mdsd.jamopp.model.java.literals.LiteralsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/members"
            class="tools.mdsd.jamopp.model.java.members.MembersPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/modifiers"
            class="tools.mdsd.jamopp.model.java.modifiers.ModifiersPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/operators"
            class="tools.mdsd.jamopp.model.java.operators.OperatorsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/parameters"
            class="tools.mdsd.jamopp.model.java.parameters.ParametersPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/references"
            class="tools.mdsd.jamopp.model.java.references.ReferencesPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/statements"
            class="tools.mdsd.jamopp.model.java.statements.StatementsPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/types"
            class="tools.mdsd.jamopp.model.java.types.TypesPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/variables"
            class="tools.mdsd.jamopp.model.java.variables.VariablesPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/java/modules"
            class="tools.mdsd.jamopp.model.java.modules.ModulesPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="https://mdsd.tools/jamopp/6.0.0/commons/layout"
            class="tools.mdsd.jamopp.model.commons.layout.LayoutPackage"
            genModel="metamodel/java.genmodel"/>
   </extension>

</plugin>
